@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* 현재 링크일 때 스타일 요소 */
  .active-link {
    position: relative;
    font-weight: 600;
  }

  .active-link::after {
    content: "";
    display: block;
    background-color: #4a734e;
    height: 2px;
    width: 100%;
  }

  .tab {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    /* width: 30%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: #a7a7a7;
  }

  .active-tab {
    padding: 14px 0;
    color: #e24444;
  }
}
